<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/files/images/favicon.ico" type="image/x-icon" />
	<title><?php echo $this->escape($this->translate('bkzcockpit')); ?> <?php echo $this->escape($this->translate('infoseite')); ?></title>
	
	<style type="text/css">
		p {
			font-size: 15px;
		}
		table {
			margin-top: 40px;
			margin-bottom: 40px;
		}
		th {
			text-align: right;
			font-size: 15px;
		}
		td {
			text-align: left;
			padding: 4px;
			font-size: 15px;
		}
		
		.outer {
			padding-left: 20%;
			padding-right: 20%;
			text-align: center;
		}
		.inner {
			text-align: center;
		}
	</style>
</head>
<body>
	<img src="/files/images/ISO_Gruppe_logo.jpg" alt="<?php echo $this->escape($this->translate('iso')); ?>" />
	<div class="outer">
	<h1><?php echo $this->escape($this->translate('bkzcockpit')); ?></h1>
	<div class="inner">
        <p>
        <?php echo str_replace('$1$', '<a href="mailto:'. $this->toolteam_mail .'">Webteam</a>', $this->escape($this->translate('beiproblemeninbcwendenan'))); ?>
        </p>
	</div>
	</div>
</body>
</html>
