<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="files/images/favicon.ico" type="image/x-icon" />
    <title><?php echo $this->escape($this->translate('bkzcockpit')); ?> - 404</title>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->cacheControl("files/styles/error.css") ?>" />
</head>
<body>
<img alt=ISO-Gruppe" src="files/images/ISO_Gruppe_logo.jpg" />
<h2><?php echo $this->translate('error500header') ?></h2>
<p>
    <?php echo $this->translate('error500message') ?>
</p>
<?php if (APPLICATION_ENV !== 'prod' && isset($this->errorHandler)): ?>
    <div class="code">
        <p>
            <span class="fatalerror">Fatal Error:</span> <?php echo $this->errorHandler->exception->getMessage() ?> in <?php echo $this->errorHandler->exception->getFile() ?> on line <?php echo $this->errorHandler->exception->getLine() ?><br />
            <strong>Stack trace:</strong><br />
            <?php echo nl2br($this->errorHandler->exception->getTraceAsString()) ?>
        </p>
    </div>
<?php endif; ?>
</body>
</html>
