body {font-family: Arial, Helvetica, sans-serif;}
h2 {color:#666666;font-size:15px;}
p {color:#999999;font-size:11px;}
div.code {background: #EFEFEF;}
div.code p {color:#666666;margin:0px;padding:10px;}
div.code p span.fatalerror {font-weight:bold;}
