<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="files/images/favicon.ico" type="image/x-icon" />
	<title><?php echo $this->escape($this->translate('bkzcockpit')); ?></title>
	
	<style type="text/css">
		body {
			text-align: center;
		}
		.content {
			padding-left: 30%;
			padding-right: 30%;
			text-align: -moz-center;
		}
		p {
			margin-top: 40px;
			font-size: 14px;
		}
		.description {
			color: red;
		}
	</style>
</head>
<body>
	<div style="text-align: left"><img src="files/images/ISO_Gruppe_logo.jpg" alt="ISO" /></div>
	<div class="content">
	<h1><?php echo $this->escape($this->translate('isopmtools')); ?></h1>
		<h3><?php echo $this->escape($this->translate($this->errorLanguageEntry . '_subject')); ?></h3>
		<p class="description">
			<?php echo str_replace('$1$',  $this->toolteam_mail, $this->escape($this->translate($this->errorLanguageEntry . '_description' ))) ?>
		</p>
		<p>
			<?php echo str_replace('$1$',  $this->toolteam_mail, $this->escape($this->translate('beiproblemeninbcwendenan'))) ?>
		</p>
	</div>
</body>
</html>
