<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>BKZ Cockpit Login</title>
</head>
<body>
<h4>BKZ Cockpit Login</h4>
<?php foreach ($this->loginErrors as $error): ?>
    <p style="color: #ff0000"><?= $this->escape($this->translate($error)) ?></p>
<?php endforeach; ?>
<form method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>
    <button type="submit">Send</button>
</form>
</body>
</html>
