<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="/files/images/favicon.ico" />
	<title><?php echo $this->translate('bkzcockpit') ?> <?php echo $this->prodkenn; ?></title>

	<style type="text/css">
		.logout_text {
			margin:auto;
			text-align: center;
			width: 600px;
		}
		h1 {
			font-family:Arial,sans-serif;
			font-size:22pt;
			font-weight:bold;
			margin-top:10px;
			margin-bottom:60px;
		}
		h2 {
			font-family:Arial,sans-serif;
			font-size:13pt;
			font-weight:bold;
		}
	</style>
</head>
<body>
	<img src="/files/images/ISO_Gruppe_logo.jpg" title="ISO" alt="ISO" />
	<h1 style="text-align: center"><?php echo $this->translate('bkzcockpit') ?> - <?php echo  $this->translate('logout'); ?></h1>
	<div class="logout_text">
		<h4><?php echo nl2br($this->translate('bc_logout_logoutok')); ?></h4>
		<p>
			<?php echo $this->translate('logout_loginagain'); ?>
			<a href="/"><?php echo $this->translate('bkzcockpit'); ?></a>
		</p>
		<h2 style="margin-top:60px;margin-bottom:0px;"><?php echo $this->translate('hinweis'); ?>:</h2>
		<p style="margin-top:5px;"><?php echo $this->translate('bc_logout_hinweis'); ?></p>
		<p>
			<?php
				$mail = '<a href="mailto:' . $this->toolteammail . '" class="">Webteam</a>';
				echo nl2br(str_replace('$1$', $mail, $this->translate('beiproblemeninbcwendenan')));
			?>
		</p>
	</div>
</body>
</html>
