<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="files/images/favicon.ico" type="image/x-icon" />
	<title><?php echo $this->escape($this->translate('bkzcockpit')); ?> - <?php echo $this->escape($this->translate('hilfe')); ?></title>
</head>
<body>
	<h1>BKZ-Cockpit</h1>
	<h2>Ziele</h2>
	Die Applikation 'BKZ-Cockpit' soll dazu dienen, folgende Ziele zu erreichen:
	<ul>
		<li>
			Die aufgelaufenen Aufwände im aktuellen Monat für vorgegebene BKZ(-Gruppen) sollen tagesgenau erkennbar sein.
		</li>
		<li>
			Es soll einfach erkennbar sein, wenn der Aufwand für vorgegebene BKZ(-Gruppen) sich in einem vorgegebenen Zeitraum einem vorgegebenen Limit nähert oder dieses überschreitet.
		</li>
		<li>
			Für eine vorzugebene Folge von Monaten und für vorgegebene BKZ(-Gruppen) soll die Entwicklung der Aufwände leicht erkennbar sein.
		</li>
		<li>
			Es soll möglich sein, die Aufwandsentwicklung in einem gegebenen Zeitraum im selben Diagramm für separate BKZs zu vergleichen.
		</li>
	</ul>
	<h2>Begriffsdefinition</h2>
	<h3>Chart:</h3>
	Ein Chart umfasst gegebenenfalls eine Mitarbeiter-Info und ein Diagramm, in dem Chart-Linien die Aufwände von BKZ(-Gruppen) grafisch über einen gewählten Zeitraum gegebenenfalls kumuliert darstellen oder eine Liste, die die Buchungen von Mitarbeitern auf den selektierten Buchungskennzeichen darstellt oder eine Tabelle, die Buchungen pro Mitarbeiter und pro Buchungskennzeichen summiert anzeigt.
	<h3>Diagramm:</h3>
			Im Kontext vom BKZ-Cockpit werden vier verschiedene Typen von Diagrammen unterschieden:
	<ul>
		<li>
			Tageswerte (= X-Achse zeigt 1 bis 31 an) und einzeln <br />
			-&gt; pro Tag im Monat wird der Aufwand des jeweiligen Tages als Säule dargestellt<br />
			<img src="./files/images/help_tageswerte_einzeln.jpg" />
		</li>
		<li>
			Tageswerte (= X-Achse zeigt 1 bis 31 an) und kumuliert<br />
			-&gt; für die Tage im Monat wird der Aufwand über die Vortage kumuliert als Linie dargestellt<br />
			<img src="./files/images/help_tageswerte_kumuliert.jpg" />
		</li>
		<li>
			Monatswerte (= X-Achse zeigt anzuzeigende Monate an) und einzeln<br />
			-&gt; pro anzuzeigendem Monat wird der Aufwand des jeweiligen Monats als Säule dargestellt<br />
			<img src="./files/images/help_monatswerte_einzeln.jpg" />
		</li>
		<li>
			Monatswerte (= X-Achse zeigt anzuzeigende Monate an) und kumuliert<br />
			-&gt; für die anzuzeigenden Monate wird der Aufwand über die Vortage kumuliert als Linie dargestellt<br />
			<img src="./files/images/help_monatswerte_kumuliert.jpg" />
		</li>
	</ul>
	<h3>Diagramm-Linie:</h3>
	Eine Diagramm-Linie ist der Aufwandsverlauf (dargestellt als Linie oder als Säulen) von einem einzelnen BKZ  oder einer BKZ-Gruppe. In einem Chart können mehrere Diagramm-Linien angezeigt werden.
	<h3>Limit-Linie:</h3>
	Die Limit-Linie zeigt ein vorgegebenes Aufwands-Limit für den vorgegebenen Zeitraum und die vorgegebenen BKZ(-Gruppe) an. Ob die Limit-Linie angezeigt wird und wo diese verläuft, wird vom Benutzer konfiguriert.
	<h3>Mitarbeiter-Info:</h3>
	Der textuelle Bereich erscheint nur bei Tageswerten für den aktuellen Monat, wenn das Chart einem Projekt der ProjektDB zugeordnet wurde.<br />
	Die Mitarbeiter-Info listet
	<ul>
	<li>die Mitarbeiter, die am letzten Arbeitstag Stunden auf dieses BKZ gebucht haben</li>
	<li>die Mitarbeiter, die am letzten Arbeitstag keine Stunden gebucht haben ("unvollständig")</li>
	<li>die Mitarbeiter, die im anzuzeigenden Monat überhaupt noch keine Stunden gebucht haben ("fehlend").</li>
	</ul>
	<h3>Liste:</h3>
	Die Liste erscheint nur, wenn diese speziell bei dem Anzeigen-Button in der Chart-Konfiguration ausgewählt wurde. Sie enthält alle Buchungen auf die ausgewählten Buchungskennzeichen aller konfigurierter Mitarbeiter. Folgende Daten werden in der Liste absteigend sortiert dargestellt:
	<ul>
	<li>Datum</li>
	<li>Mitarbeiter Kürzel</li>
	<li>BKZ</li>
	<li>Stunden</li>
	<li>Notiz</li>
	</ul>
	<h3>Tabelle:</h3>
	Die Tabelle erscheint nur, wenn diese speziell bei dem Anzeigen-Button in der Chart-Konfiguration ausgewählt wurde. Sie enthält alle Buchungen auf die ausgewählten Buchungskennzeichen aller konfigurierter Mitarbeiter. Die Daten werden pro Mitarbeiter und BKZ summiert in tabellenform dargestellt. Die horizontale Achse enthält alle Mitarbeiter, die auf BKZs gebucht haben - die vertikale Achse enthält alle bebuchten BKZs. Hat eine Mitarbeiter nicht auf ein BKZs gebucht, enthält das Feld keinen Wert.
	<h3>Chart-Konfiguration:</h3>
	Ein Chart wird anhand folgender Daten konfiguriert:
	<ul>
	<li>Typ des Diagramm
		<ul>
		<li>Tageswerte / Monatswerte </li>
		<li>einzeln / kumuliert </li>
		</ul>
	</li>
	<li>Zeitraum</li>
	<li>Limit-Wert (für die Limit-Linie)</li>
	<li>Start-Wert mit oder ohne vorheriger Ist-Summe (nur bei Diagramm-Typ 'kumuliert')</li>
	<li>Zuordnung zu einem Projekt (Produkt) aus der PDB für die Bereitstellung der Mitarbeiter-Info</li>
	<li>anzuzeigender Aufwand (definiert durch ein oder mehrere BKZs oder Spectrum-Knoten)</li>
	</ul>
	<h3>Chart-Profil:</h3>
	Ein Chart-Profil ist eine unter einem Namen abgespeicherte Chart-Konfiguration, die dem Benutzer jederzeit wieder zur Verfügung steht. Der Benutzer bestimmt den Chart-Profil-Namen.<br />
	Neben den vom User gespeicherten Profilen existiert noch ein default-Profil pro User, dass automatisch immer die zuletzt genutzte Chart-Konfiguration enthält und bei jedem Öffnen vom BKZ-Cockpit wiederhergestellt wird.

	<h2>Einschränkung der Benutzungsmöglichkeiten von BKZ-Cockpit</h2>
	<h3>Login:</h3>
	Nur dazu berechtigte Mitarbeiter können sich in BKZ-Cockpit einloggen.<br />
	Welche Mitarbeiter login-berechtigt sind, wird mittels einer Tabelle in der ProjektDB gepflegt.<br />
	Die Authentifizierung des Users erfolgt mittels Kerberos. Es wird automatisch der gleiche User wie bei der Windows-Anmeldung verwendet. Eine Eingabe von Username und Passwort ist nur dann notwendig, wenn sich der Rechner nicht in der Domäne der ISO befindet.
	
	<h3>Einschränkung der Sichtbarkeit von Aufwänden:</h3>
	Ein mit Administrations-Rechten versehener Nutzer von BKZ-Cockpit weist mittels einer speziellen Oberfläche jedem Nutzer von BKZ-Cockpit einen oder mehrere Teilbäume von Spectrum zu.<br />
	Ein Nutzer von BKZ-Cockpit kann bei der Konfiguration von Aufwand von dann nur Spectrum-Knoten und BKZs innerhalb der konfigurierten Teilbäume auswählen.


</body>
</html>
