<!DOCTYPE html>
<html lang="<?= $this->languageType ?>">
<head>
    <title><?= $this->escape($this->translate('bkzcockpit')); ?></title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="shortcut icon" href="files/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="<?= $this->cacheControl("files/ext/resources/css/ext-all.css") ?>" />
    <link rel="stylesheet" type="text/css" href="<?= $this->cacheControl("files/styles/bcgui.css") ?>" />
</head>
<body>
    <div class="x-loading-mask x-loading-mask-background" style=""></div>
    <div class="x-loading-mask x-loading-mask-loading">
        <div class="loading-indicator">
            <img src="files/images/iso-gruppe_small.png" style="margin-right:8px;float:left;vertical-align:top;" alt="mask logo" />
            BKZ-Cockpit - <a href="http://www.iso-gruppe.com" target="_blank">iso-gruppe.com</a><br />
            <span class="x-loading-mask-loading-msg">
                <?= $this->escape($this->translate('load')); ?> BKZ-Cockpit...
            </span>
        </div>
    </div>

    <script type="text/javascript" src="index/getinitialdata"></script>

    <?php if (APPLICATION_ENV != 'development') : ?>
        <script type="text/javascript" src="<?= $this->cacheControl("files/bcgui-all" . (APPLICATION_ENV != 'prod' ? '-debug' : '') . ".js") ?>"></script>
    <?php else : ?>
        <script type="text/javascript" src="<?= $this->cacheControl("files/ext/ext-dev.js") ?>"></script>
        <script type="text/javascript" src="<?= $this->cacheControl("files/bcgui.js") ?>"></script>
    <?php endif; ?>
    <script type="text/javascript" src="<?= $this->cacheControl("files/ext/locale/ext-lang-" . $this->languageType . ".js") ?>"></script>
</body>
</html>
