<h3 class="pdbinfohead"><?php echo $this->translate('abkbearbeitungsnr'); ?>:</h3>
<?php echo $this->escape($this->data['ISSUEKEY']); ?>

<h3 class="pdbinfohead"><?php echo $this->translate('titel'); ?>:</h3>
<?php echo $this->escape($this->data['TITLE']); ?>

<h3 class="pdbinfohead"><?php echo $this->translate('status'); ?>:</h3>
<?php echo $this->escape($this->data['STATE']); ?>

<h3 class="pdbinfohead"><?php echo $this->translate('klassifikation'); ?>:</h3>
<?php echo $this->escape($this->data['CLASSIFICATION']); ?>

<h3 class="pdbinfohead"><?php echo $this->translate('zahlungspakete'); ?>:</h3>
<ul class="pdbinfolist">
	<?php if (!is_array($this->data['PAYMENTPACKAGES'])): ?>
	</li> - </li>
	<?php else: ?>
		<?php foreach ($this->data['PAYMENTPACKAGES'] as $zp): ?>
		<li>
			<?php echo $this->escape($zp['BEZEICHNUNG']) ?>
			<h3 class="pdbinfohead" style="display:inline;"><?php echo $this->translate('abkzpstatus') ?>:</h3>
			<?php echo $this->escape($zp['STATUS_KUERZEL']) ?>
		</li>
		<?php endforeach; ?>
	<?php endif; ?>
</ul>

<h3 class="pdbinfohead"><?php echo $this->translate('projekt'); ?>:</h3>
<?php echo $this->escape($this->data['PROJECT']); ?>
