<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>BKZ-Cockpit - Browser</title>
	<link rel="shortcut icon" href="files/images/favicon.ico" />
</head>
<body>
	<div style="width:400px;margin:auto;margin-top:100px;font-size:20px;font-family:tahoma,arial,verdana,sans-serif;text-align:center;">
		<p>Die von Ihnen verwendete Browserversion wird nicht unterstützt. Bitte verwenden Sie eine aktuelle Version folgender Browser: Internet Explorer, Firefox oder Chrome.</p>
		<p>Your browser version is not supported for use on this site. Please use a recent version of one of the following browsers: Internet Explorer, Firefox or Chrome.</p>
	</div>
</body>
</html>