<div class="contingentSapInvoiceComparison">
    <div class="container">
        <h2>Bereichsbezogene Rechnungs-Summen in KV und SAP</h2>
        <?php if (!$this->data['divisionTotals']): ?>
            <p class="center bold">Keine</p>
        <?php endif; ?>
        <table class="<?= !$this->data['divisionTotals'] ? 'hidden' : null ?>">
            <thead>
                <tr>
                    <th>Bereich</th>
                    <th>Erwarteter Rechnungsbetrag gemäß KV (€)</th>
                    <th>Bisher abgerechnet gemäß KV (€)</th>
                    <th>Bisher abgerechnet gemäß SAP (€)</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($this->data['divisionTotals'] as $row): ?>
                <tr>
                    <td class="center"><?= $row['DIVISION_NAME'] ?></td>
                    <td class="right">
                        <?= number_format($row['EXPECTED_TOTAL'], 2, ',', '.') ?>
                    </td>
                    <td class="right <?= (round($row['TOTAL'], 2) !== round($row['SAP_TOTAL'], 2)) ? 'danger' : null ?>">
                        <?= number_format($row['TOTAL'], 2, ',', '.') ?>
                    </td>
                    <td class="right <?= (round($row['TOTAL'], 2) !== round($row['SAP_TOTAL'], 2)) ? 'danger' : null ?>">
                        <?= number_format($row['SAP_TOTAL'], 2, ',', '.') ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Leistungsnachweise ohne Rechnungsbezug und Kontingente ohne Leistungsnachweis</h2>
        <?php if (!$this->data['confirmationOfExpenseWithoutInvoice']): ?>
            <p class="center bold">Keine</p>
        <?php endif; ?>
        <table class="<?= !$this->data['confirmationOfExpenseWithoutInvoice'] ? 'hidden' : null ?>">
            <thead>
            <tr>
                <th>Bereich</th>
                <th>Mitarbeiter</th>
                <th>Kontingent</th>
                <th>Geleistete Stunden</th>
                <th>Bereit für Fakturierung</th>
                <th>eFA-ID</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->data['confirmationOfExpenseWithoutInvoice'] as $row): ?>
                <tr>
                    <td class="center"><?= $row['DIVISION_NAME'] ?></td>
                    <td><?= $row['EMPLOYEE'] ?></td>
                    <td><?= $row['CONTINGENT_NAME'] ?></td>
                    <td class="right">
                        <?php if ($row['HOURS'] !== null): ?>
                            <?= number_format($row['HOURS'], 2, ',', '.') ?>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php if ($row['READY_FOR_INVOICING'] !== null): ?>
                            <?= $row['READY_FOR_INVOICING'] ? 'Ja' : 'Nein' ?>
                        <?php endif; ?>
                    </td>
                    <td><?= $row['EFA_ID'] ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Unterschiedliche Rechnungsbeträge bei Kontingentverwaltung und SAP</h2>
        <?php if (!$this->data['differentInvoiceTotals']): ?>
            <p class="center bold">Keine</p>
        <?php endif; ?>
        <table class="<?= !$this->data['differentInvoiceTotals'] ? 'hidden' : null ?>">
            <thead>
            <tr>
                <th>Bereich</th>
                <th>Rechnungs-Nr.</th>
                <th>eFA-ID</th>
                <th>Rechnungsbetrag gemäß KV</th>
                <th>Rechnungsbetrag gemäß SAP</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->data['differentInvoiceTotals'] as $row): ?>
                <tr>
                    <td class="center"><?= $row['DIVISION_NAME'] ?></td>
                    <td><?= $row['INVOICE_NUMBER'] ?></td>
                    <td><?= $row['EFA_ID'] ?></td>
                    <td class="right"><?= number_format($row['KV_TOTAL'], 2, ',', '.') ?></td>
                    <td class="right"><?= number_format($row['SAP_TOTAL'], 2, ',', '.') ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Gleiche Rechnungsbeträge bei Kontingentverwaltung und SAP</h2>
        <?php if (!$this->data['sameInvoiceTotals']): ?>
            <p class="center bold">Keine</p>
        <?php endif; ?>
        <table class="<?= !$this->data['sameInvoiceTotals'] ? 'hidden' : null ?>">
            <thead>
            <tr>
                <th>Bereich</th>
                <th>Rechnungs-Nr.</th>
                <th>eFA-ID</th>
                <th>Rechnungsbetrag gemäß KV</th>
                <th>Rechnungsbetrag gemäß SAP</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->data['sameInvoiceTotals'] as $row): ?>
                <tr>
                    <td class="center"><?= $row['DIVISION_NAME'] ?></td>
                    <td><?= $row['INVOICE_NUMBER'] ?></td>
                    <td><?= $row['EFA_ID'] ?></td>
                    <td class="right"><?= number_format($row['KV_TOTAL'], 2, ',', '.') ?></td>
                    <td class="right"><?= number_format($row['SAP_TOTAL'], 2, ',', '.') ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
