<?php
$data = $this->data;
?>
<table>
    <tr>
        <td>
            <table class="orderOverview-base">
                <?php
                foreach ($data['ORDERS'] as $orderValues) {
                    $rowNumber = 0;
                    ?>
                    <tr class="orderOverview-order-header orderOverview-order-header-firstLine">
                        <td class="orderOverview-debtorNumber orderOverview-right"><?= $this->translate("orderOverviewDebtorNumber") ?></td>
                        <td class="orderOverview-invoiceRecipient orderOverview-right"><?= $this->translate("orderOverviewInvoiceRecipient") ?></td>
                        <td class="orderOverview-status orderOverview-center"><?= $this->translate("orderOverviewStatus") ?></td>
                        <td class="orderOverview-sapOrder orderOverview-right"><?= $this->translate("orderOverviewSapOrder") ?></td>
                        <td class="orderOverview-customerName"><?= $this->translate("orderOverviewCustomerName") ?></td>
                        <td class="orderOverview-orderNumber"><?= $this->translate("orderOverviewOrderNumber") ?></td>
                        <td class="orderOverview-kindOfOrder"><?= $this->translate("orderOverviewKindOfOrder") ?></td>
                        <td></td>
                        <td class="orderOverview-begin"><?= $this->translate("orderOverviewBegin") ?></td>
                        <td class="orderOverview-end"><?= $this->translate("orderOverviewEnd") ?></td>
                        <td class="orderOverview-ordered orderOverview-right"><?= $this->translate("orderOverviewOrderedInEuro") ?></td>
                        <td class="orderOverview-invoiced orderOverview-right"><?= $this->translate("orderOverviewInvoicedInEuro") ?></td>
                        <td colspan="2"></td>
                        <td class="orderOverview-open orderOverview-right"><?= $this->translate("orderOverviewOpenInEuro") ?></td>
                    </tr>
                    <tr class="orderOverview-order-header">
                        <td class="orderOverview-right"><?= preg_replace("/^0+/",  "", $orderValues['DEBTOR_NUMBER']) ?></td>
                        <td class="orderOverview-right"><?= preg_replace("/^0+/",  "", $orderValues['INVOICE_RECEIVER_NUMBER']) ?></td>
                        <td class="orderOverview-center"><img src="<?= InvoiceType::getIcon($orderValues['STATUS']) ?>" title="<?= $this->translate(InvoiceType::getTranslation($orderValues['STATUS'])) ?>"></td>
                        <td class="orderOverview-right"><?= preg_replace("/^0+/",  "", $orderValues['ORDER_NUMBER']) ?></td>
                        <td title=" <?= $orderValues['CUSTOMER_NAME'] ?>">
                            <div class="orderOverview-customerName-value">
                                <?= $orderValues['CUSTOMER_NAME'] ?>
                            </div>
                        </td>
                        <td><?= $orderValues['CUSTOMER_ORDER_NUMBER'] ?></td>
                        <td><?php
                            if ($orderValues['ORDER_KIND'] == "ZMF") {
                                echo $this->translate("orderOverviewMilestones");
                            } elseif ($orderValues['ORDER_KIND'] == "ZCP") {
                                echo $this->translate("orderOverviewProjectOrder");
                            }
                            ?></td>
                        <td></td>
                        <td><?= $orderValues['BEGIN'] ?></td>
                        <td><?= $orderValues['END'] ?></td>
                        <td class="orderOverview-right"><?= number_format($orderValues['COMMISSIONED'], 2, ',', '.') ?> €</td>
                        <td class="orderOverview-right"><?= number_format($orderValues['INVOICED'], 2, ',', '.') ?> €</td>
                        <td colspan="2"></td>
                        <td class="orderOverview-right"><?= number_format($orderValues['OUTSTANDING'], 2, ',', '.') ?> €</td>
                    </tr>
                    <?php
                    if (!empty($orderValues['ORDER_POSITIONS'])) {
                        foreach ($orderValues['ORDER_POSITIONS'] as $position => $positionValues) {
                            $rowNumber++;
                            if ($rowNumber == 1) {
                                ?>
                                <tr class="orderOverview-orderPosition-header">
                                    <td><?= $this->translate("orderOverviewSapKeyType") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewPosition") ?></td>
                                    <td class="orderOverview-center"><?= $this->translate("orderOverviewStatus") ?></td>
                                    <td><?= $this->translate("orderOverviewMaterial") ?></td>
                                    <td><?= $this->translate("orderOverviewDescription") ?></td>
                                    <td><?= $this->translate("orderOverviewAdditionalDescription") ?></td>
                                    <td colspan="2" class="orderOverview-right"><?= $this->translate("orderOverviewAmount") ?></td>
                                    <td><?= $this->translate("orderOverviewUnit") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewUnitPrice") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewOrderedInEuro") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewInvoicedInEuro") ?></td>
                                    <td class="orderOverview-openIn orderOverview-right"><?= $this->translate("orderOverviewOpenIn") ?></td>
                                    <td><?= $this->translate("orderOverviewUnitBtBs") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewOpenInEuro") ?></td>
                                </tr>
                                <?php
                            }
                                ?>
                            <tr class="orderOverview-orderPosition">
                                <td><?= $positionValues['SAP_KEY'] ?> (<?= $positionValues['BOOKING_TYPE_NAME']?>)</td>
                                <td class="orderOverview-right"><?= $position ?></td>
                                <td class="orderOverview-center"><img src="<?= InvoiceType::getIcon($positionValues['STATUS']) ?>" title="<?= $this->translate(InvoiceType::getTranslation($positionValues['STATUS'])) ?>"></td>
                                <td><?= $positionValues['MATERIAL'] ?></td>
                                <td title="<?= $positionValues['DESCRIPTION'] ?>">
                                    <div class="orderOverview-description"><?= $positionValues['DESCRIPTION'] ?></div>
                                </td>
                                <td>
                                    <div class="orderOverview-additionalDescription" title="<?=$positionValues['MATERIAL_TEXT']?>">
                                        <?= $positionValues['MATERIAL_TEXT'] ?>
                                    </div>
                                </td>
                                <td colspan="2" class="orderOverview-right">
                                    <?= $positionValues['QUANTITY'] != round($positionValues['QUANTITY'])
                                        ? number_format($positionValues['QUANTITY'], 2, ',', '.')
                                        : round($positionValues['QUANTITY']) ?>
                                </td>
                                <td><?= $positionValues['UNIT'] ?></td>
                                <td class="orderOverview-right"><?= number_format($positionValues['UNIT_PRICE'], 2, ',', '.') ?> €</td>
                                <td class="orderOverview-right"><?= number_format($positionValues['NET_VALUE'], 2, ',', '.') ?> €</td>
                                <td class="orderOverview-right">
                                    <?= number_format($positionValues['SUM_BILLED_AMOUNT'], 2, ',', '.')." €" ?>
                                </td>
                                <td class="orderOverview-right"><?= $positionValues['OUTSTANDING'] ? number_format($positionValues['OUTSTANDING'], 2, ',', '.')  : false?></td>
                                <td><?= $positionValues['OUTSTANDING'] ? $positionValues['BT_BS'] : false?></td>
                                <td class="orderOverview-right"><?= number_format($positionValues['OUTSTANDING_IN_EURO'], 2, ',', '.')." €" ?></td>
                            </tr>
                            <?php
                            if (!empty($positionValues['INVOICE_PLAN_ELEMENTS'])) {
                                $rowNumber = 0;
                                ?>
                                <tr class="orderOverview-milestone-header orderOverview-milestone-header-firstLine">
                                    <td></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewMilestone") ?></td>
                                    <td class="orderOverview-center"><?= $this->translate("orderOverviewStatus") ?></td>
                                    <td colspan="2"><?= $this->translate("orderOverviewMilestoneText") ?></td>
                                    <td colspan="2"><?= $this->translate("orderOverviewInvoicePeriod") ?></td>
                                    <td colspan="3"><?= $this->translate("orderOverviewInvoiceAcceptanceDate") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewOrderedInEuro") ?></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewInvoicedInEuro") ?></td>
                                    <td colspan="2"></td>
                                    <td class="orderOverview-right"><?= $this->translate("orderOverviewOpenInEuro") ?></td>
                                </tr>
                                <?php
                                foreach ($positionValues['INVOICE_PLAN_ELEMENTS'] as $invoicePlanElement) {
                                    ?>
                                    <tr class="orderOverview-milestone-header">
                                        <td></td>
                                        <td class="orderOverview-right"><?= $invoicePlanElement['ELEMENT_NUMBER'] ?></td>
                                        <td class="orderOverview-center"><img
                                                src="<?= InvoiceType::getIcon($invoicePlanElement['STATUS']) ?>"
                                                title="<?= $this->translate(InvoiceType::getTranslation($invoicePlanElement['STATUS'])) ?>">
                                        </td>
                                        <td colspan="2" title="<?= $invoicePlanElement['TEXT'] ?>">
                                            <div class="orderOverview-milestone-text">
                                                <?= $invoicePlanElement['TEXT'] ?>
                                            </div>
                                        </td>
                                        <td colspan="2" title="<?= $invoicePlanElement['INVOICE_PERIOD'] ?>">
                                            <div class="orderOverview-acceptanceDate">
                                                <?= $invoicePlanElement['INVOICE_PERIOD'] ?>
                                            </div>
                                        </td>
                                        <td colspan="3"><?= $invoicePlanElement['INVOICE_DATE'] ?></td>
                                        <td class="orderOverview-right"><?= number_format($invoicePlanElement['COMMISSIONED'], 2, ',',
                                                '.') ?> €
                                        </td>
                                        <td class="orderOverview-right">
                                            <?= number_format($invoicePlanElement['INVOICED'],2, ',', '.') . " €" ?>
                                        </td>
                                        <td colspan="2"></td>
                                        <td class="orderOverview-right"><?= number_format($invoicePlanElement['OUTSTANDING_IN_EURO'], 2, ',', '.') . " €"?></td>
                                    </tr>
                                    <?php
                                }
                            }
                        }
                    }
                }
                ?>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="orderOverview-total-base">
                <tr class="orderOverview-total">
                    <td class="orderOverview-total-sums"><?= $this->translate("orderOverviewSum") ?></td>
                    <td class="orderOverview-total-orders orderOverview-right"><?= $this->translate("orderOverviewOrders") ?>:</td>
                    <td class="orderOverview-total-total orderOverview-right"><?= $this->translate("orderOverviewTotal") ?></td>
                    <td class="orderOverview-total-notInvoiced orderOverview-right"><?= $this->translate("orderOverviewNotInvoiced") ?></td>
                    <td class="orderOverview-total-partiallyInvoiced orderOverview-right"><?= $this->translate("orderOverviewPartiallyInvoiced") ?></td>
                    <td class="orderOverview-total-invoiced orderOverview-right"><?= $this->translate("orderOverviewInvoiced") ?></td>
                    <td class="orderOverview-total-amounts orderOverview-right"><?= $this->translate("orderOverviewAmounts") ?>:</td>
                    <td class="orderOverview-total-orderedInEuro orderOverview-right"><?= $this->translate("orderOverviewOrderedInEuro") ?></td>
                    <td class="orderOverview-total-invoicedInEuro orderOverview-right"><?= $this->translate("orderOverviewInvoicedInEuro") ?></td>
                    <td class="orderOverview-right"><?= $this->translate("orderOverviewOpenInEuro") ?></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="orderOverview-right"><?= count($data['ORDERS']) ?></td>
                    <td class="orderOverview-right"><?= $data['SUMS']['NOT_INVOICED'] ?></td>
                    <td class="orderOverview-right"><?= $data['SUMS']['PARTIALLY_INVOICED'] ?></td>
                    <td class="orderOverview-right"><?= $data['SUMS']['INVOICED'] ?></td>
                    <td></td>
                    <td class="orderOverview-right"><?= number_format($data['SUMS']['COMMISSIONED_COMPUTED'], 2, ',', '.') ?> €</td>
                    <td class="orderOverview-right"><?= number_format($data['SUMS']['INVOICED_COMPUTED'], 2, ',', '.') ?> €</td>
                    <td class="orderOverview-right"><?= number_format($data['SUMS']['OUTSTANDING_COMPUTED'], 2, ',', '.') ?> €</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

