<?php
$data = $this->data;

$months = $data["MONTHS"];
$informationArray = $data["INFORMATION"];
$usedInformationArray = $data['REPORT_INFO']['USED_INFORMATION'];
$sumsProjects = array();
$sumsInf = array();


foreach ($months as $month) { //sums
	$sumsProjects[0][$month] = 0;
	$sumsProjects[1][$month] = 0;
	$sumsProjects[2][$month] = 0;
	$sumsProjects[3][$month] = 0;
	$sumsProjects[4][$month] = 0;
	$sumsProjects[5][$month] = 0;
	$sumsProjects[6][$month] = 0;
	$sumsProjects[7][$month] = 0;
	$sumsProjects[8][$month] = 0;
	$sumsInf[0][$month] = 0;
	$sumsInf[1][$month] = 0;
	$sumsInf[2][$month] = 0;
	$sumsInf[3][$month] = 0;
	$sumsInf[4][$month] = 0;
	$sumsInf[5][$month] = 0;
	$sumsInf[6][$month] = 0;
	$sumsInf[7][$month] = 0;
	$sumsInf[8][$month] = 0;
}
?>

<table class="status-base">
<thead class="status-head" style="position:absolute">
<tr>
	<th rowspan="2" class="status-biggest status-darkcell status-borders status-solid-top">
		<div class="status-fixed-broad">
			<?php echo str_replace("\\n","<br/>",$this->translate("nodes")); ?>
		</div>
	</th>
	<th rowspan="2" class="status-biggest status-darkcell status-borders status-solid-top">
		<div class="status-fixed-medium">
			<?php echo str_replace("\\n","<br/>",$this->translate("information")); ?>
		</div>
	</th>
	<th rowspan="2" class="status-big status-darkcell status-borders status-solid-top">
		<div class="status-fixed-narrowest">
			<?php echo str_replace("\\n","<br/>",$this->translate("company")); ?>
		</div>
	</th>
	<th rowspan="2" class="status-big status-darkcell status-borders status-comment status-solid-top" title="<?php echo str_replace("\\n","&#013;",$this->translate("plannedEffortComment")); ?>">
		<div class="status-fixed-narrow">
			<?php echo str_replace("\\n","<br/>",$this->translate("plannedEffort")); ?>
		</div>
	</th>
	<?php foreach($months as $month): ?>
	<th colspan="8" class="status-bigger status-darkcell status-solid-top status-solid-left status-solid-right">
			<?php echo $month; ?>
	</th>
	<?php endforeach; ?>
</tr>
<tr>
	<?php foreach($months as $month): ?>
	<th class="status-big status-lightcell status-nowrap status-solid-left status-borders"><div class="status-fixed-narrower"><?php echo str_replace("\\n","<br/>",$this->translate("acctualEffortInPeriod")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-borders"><div class="status-fixed-narrower"><?php echo str_replace("\\n","<br/>",$this->translate("billedInPeriod")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-borders status-comment" title="<?php echo sprintf(str_replace("\\n","&#013;",$this->translate("acctualEffortInYearComment")),strtoupper($informationArray['FP'])); ?>"><div class="status-fixed-narrow"><?php echo str_replace("\\n","<br/>",$this->translate("acctualEffortInYear")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-borders"><div class="status-fixed-narrower"><?php echo str_replace("\\n","<br/>",$this->translate("billedInYear")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-borders"><div class="status-fixed-narrower"><?php echo str_replace("\\n","<br/>",$this->translate("remainingOrPendingEffort")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-borders status-comment" title="<?php echo str_replace("\\n","&#013;",$this->translate("discrepancyComment")); ?>"><div class="status-fixed-narrower"><?php echo str_replace("\\n","<br/>",$this->translate("discrepancy")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-borders"><div class="status-fixed-narrower"><?php echo str_replace("\\n","<br/>",$this->translate("billedInPeriodEUR")); ?></div></th>
	<th class="status-big status-lightcell status-nowrap status-solid-right status-borders status-comment" title="<?php echo sprintf(str_replace("\\n","&#013;",$this->translate("billedInYearEURComment")),strtoupper($informationArray['FP'])); ?>"><div class="status-fixed-narrow"><?php echo str_replace("\\n","<br/>",$this->translate("billedInYearEUR")); ?></div></th>
	<?php endforeach; ?>
</tr>
</thead>
<tbody class="status-body" style="position:absolute; top: 97px">
<?php 		
$dataNodes = $data["DATA"];
if (isset($dataNodes[-1])) {
	$orphanNodes = $dataNodes[-1]; //extract orphan project nodes
	unset($dataNodes[-1]);
}	
$fixedPrice = array();
$i = 0;
foreach ($dataNodes as $node):
	$nodeName = $node['node_name'];
	$nodeShortcut = $node['node_type_name'];
	$sapKey = $node['sap_key'];
	$targetEffort = $node['target_effort'];
	$maintenancePart = $node['maintenance_part'];
	$hourlyRate = $node['hourly_rate'] ?: 130;
	$company =$node['company'];
	
	if ($i++ > 0 && count($usedInformationArray) > 1):
		echo $this->render("report/status-hrule.phtml");	
	endif;
	
	if (isset($node["sectionData"][BookingType::FIXED_PRICE])):  
		$fixedPrice = $node["sectionData"][BookingType::FIXED_PRICE]; ?>
	<tr>
		<td class="status-comment status-borders" title="<?php echo $nodeName.' ('.$nodeShortcut.')'.($sapKey?(' --- '.$sapKey):''); ?>">
			<div class="status-fixed-broad status-padding"><?php echo $nodeName; ?></div>
		</td>
		<td class="status-bold status-borders">
			<div class="status-fixed-medium status-padding">
				<?php echo strtoupper($informationArray['FP']); ?>
			</div>
		</td>
		<td class="status-align-center status-borders">
			<div class="status-fixed-narrowest"><?php echo $company; ?></div>
		</td>
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
			 	<?php echo $targetEffort; ?>
			</div>
		</td>
		<?php foreach ($months as $month): ?>
		<!-- Ist-Aufwand im Zeitraum -->
		<td class="status-borders status-solid-left status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$hrsBtMonth = $fixedPrice[$month]['hours_bt_month'];
				$sumsProjects[0][$month] += $hrsBtMonth;
				echo number_format($hrsBtMonth, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Ist-Aufwand seit (Jahres-)Beginn  -->
		<td  class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php 
				$hrsBtAll = $fixedPrice[$month]['hours_bt_all'];
				$sumsProjects[2][$month] += $hrsBtAll;
				echo number_format($hrsBtAll, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet seit 1.1. -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Rest-Aufwand -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abweichung -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abgerechnet im Zeitraum -->
		<?php
		$licenceCommentMonth = "";
		if ($fixedPrice[$month]['revenue_license_month'] != 0) {
			$licenceCommentMonth = sprintf(
				$this->translate("licenceRevenue").": %s €\n".$this->translate("otherRevenue").": %s €",
				number_format($fixedPrice[$month]['revenue_license_month'], 2, ',', '.'),
				number_format($fixedPrice[$month]['revenue_month'], 2, ',', '.')
			);
		}
		?>
		<td class="status-borders status-align-right <?php echo $licenceCommentMonth?'status-comment':''; ?>" title="<?php echo $licenceCommentMonth; ?>">
			<div class="status-fixed-narrower">
				<?php
				$revenueMonth = $fixedPrice[$month]['revenue_month'] + $fixedPrice[$month]['revenue_license_month'];
				$sumsProjects[6][$month] += $revenueMonth;
				echo number_format($revenueMonth, 2, ',', '.')." €";
				?>
			</div>
		</td>
		<!-- Abgerechnet seit (Jahres-)Beginn -->
		<?php
		$licenceCommentYear = "";
		if ($fixedPrice[$month]['revenue_license_all'] != 0) {
			$licenceCommentYear = sprintf(
				$this->translate("licenceRevenue").": %s €\n".$this->translate("otherRevenue").": %s €",
				number_format($fixedPrice[$month]['revenue_license_all'], 2, ',','.'),
				number_format($fixedPrice[$month]['revenue_all'], 2, ',','.')
			);
		}
		?>
		<td class="status-borders status-align-right status-solid-right <?php echo $licenceCommentYear?'status-comment':''; ?>" title="<?php echo $licenceCommentYear; ?>">
			<div class="status-fixed-narrow">
				<?php
				$revenueYear = ($fixedPrice[$month]['revenue_all'] + $fixedPrice[$month]['revenue_license_all']);
				$sumsProjects[7][$month] += $revenueYear;
				echo number_format($revenueYear, 2, ',','.')." €";
				?>
			</div>
		</td>
		<?php endforeach; ?>
	</tr>
	<?php endif; ?>
	
	<?php
	if (isset($node["sectionData"][BookingType::CHANGE_REQUEST])):
	$changeRequests = $node["sectionData"][BookingType::CHANGE_REQUEST]; ?>
	<tr>
		<td class="status-borders status-comment" title="<?php echo $nodeName.' ('.$nodeShortcut.')'.($sapKey?(' --- '.$sapKey):''); ?>">
			<div class="status-fixed-broad status-padding">
				<?php echo $nodeName; ?>
			</div>
		</td>
		<td class="status-bold status-borders">
			<div class="status-fixed-medium status-padding">
				<?php echo strtoupper($informationArray['CR']); ?>
			</div>
		</td>
		<td class="status-borders status-align-center">
			<div class="status-fixed-narrowest"><?php echo $company; ?></div>
		</td>
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php echo number_format($hourlyRate, 2, ',', '.') . " €"; ?>
			</div>
		</td>
		<?php foreach ($months as $month): ?>
		<!-- Ist-Aufwand im Zeitraum (Std) -->
		<td class="status-borders status-align-right status-solid-left">
			<div class="status-fixed-narrower">
				<?php
				$btMonth = $changeRequests[$month]['hours_bt_month'];
				$sumsInf[0][$month] += $btMonth;
				echo number_format($btMonth, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$revHrsMnth = $changeRequests[$month]['revenue_month']/$hourlyRate;
				$sumsInf[1][$month] += $revHrsMnth;
				echo number_format($revHrsMnth, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Ist-Aufwand seit (Jahres-)Beginn (Std)  -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php 
				$hrsBtYear = $changeRequests[$month]['hours_bt_year'];
				$sumsInf[2][$month] += $hrsBtYear;
				echo number_format($hrsBtYear, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet seit 1.1. (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php
				$calc =  $changeRequests[$month]['revenue_year']/$hourlyRate;
				$sumsInf[3][$month] += $calc;
				echo number_format($calc, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Rest-Aufwand -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abweichung -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$diff = $calc - $hrsBtYear;
				$sumsInf[5][$month] += $diff;
				echo number_format ($diff, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum (EUR) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$revenueMonth = ($changeRequests[$month]['revenue_month']);
				$sumsInf[6][$month] += $revenueMonth;
				echo number_format($revenueMonth, 2, ',','.')." €";
				?>
			</div>
		</td>
		<!-- Abgerechnet seit (Jahres-)Beginn (EUR) -->
		 <td class="status-borders status-align-right status-solid-right">
			<div class="status-fixed-narrow">
				<?php 
				$revenueYear = ($changeRequests[$month]['revenue_year']);
				$sumsInf[7][$month] += $revenueYear;
				echo number_format($revenueYear, 2, ',','.')." €";
				?>
			</div>
		</td>
		<?php endforeach; ?>
	</tr>
	<?php endif; ?>
	
	<?php
	if (isset($node["sectionData"][BookingType::TIME_AND_MATERIAL])):  
		$timeAndMaterial =  $node["sectionData"][BookingType::TIME_AND_MATERIAL]; ?>
	<tr>
		<td class="status-borders status-comment" title ="<?php echo $nodeName.' ('.$nodeShortcut.')'.($sapKey?(' --- '.$sapKey):''); ?>">
			<div class="status-fixed-broad status-padding">
				<?php echo $nodeName; ?>
			</div>
		</td>
		<td class="status-borders status-bold">
			<div class="status-fixed-medium status-padding"><?php echo strtoupper($informationArray['TM']); ?></div>
		</td>
		<td class="status-borders status-align-center">
			<div class="status-fixed-narrowest"><?php echo $company; ?></div>
		</td>
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php echo number_format($hourlyRate, 2, ',', '.') . " €"; ?>
			</div>
		</td>
		<?php foreach ($months as $month): ?>
		<!-- Ist-Aufwand im Zeitraum (Std) -->
		<td class="status-borders status-align-right status-solid-left">
			<div class="status-fixed-narrower">
				<?php
				$btMonth = $timeAndMaterial[$month]['hours_bt_month'];
				$sumsInf[0][$month] += $btMonth;
				echo number_format($btMonth, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$revHrsMnth = $timeAndMaterial[$month]['revenue_month'] / $hourlyRate;
				$sumsInf[1][$month] += $revHrsMnth;
				echo number_format($revHrsMnth, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Ist-Aufwand seit (Jahres-)Beginn (Std)  -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php 
				$hrsBtYear = $timeAndMaterial[$month]['hours_bt_year'];
				$sumsInf[2][$month] += $hrsBtYear;
				echo number_format($hrsBtYear, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet seit 1.1. (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php
				$revHrsYear = $timeAndMaterial[$month]['revenue_year'] / $hourlyRate;
				$sumsInf[3][$month] += $revHrsYear;
				echo number_format($revHrsYear, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Rest-Aufwand -->
		<?php
		$eabPendingHours = $timeAndMaterial[$month]['eab_pending_hours'];
		$eabComment = "";
		if ($eabPendingHours > 0) {
			$eabComment = sprintf($this->translate('eabComment'), $timeAndMaterial[$month]['eab_month']);
		}
		?>
		<td class="status-borders status-align-right <?php if ($eabPendingHours > 0): ?>status-comment<?php endif; ?>" title="<?php echo $eabComment; ?>">
			<div class="status-fixed-narrower">
				<?php
				if ($eabPendingHours > 0):
					echo number_format($eabPendingHours, 2, ',', '.');
				endif;
				?>
			</div>
		</td>
		<!-- Abweichung -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$diff = $revHrsYear - $hrsBtYear;
				$sumsInf[5][$month] += $diff;
				echo number_format ($diff, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum (EUR) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$revMnth = $timeAndMaterial[$month]['revenue_month'];
				$sumsInf[6][$month] += $revMnth;
				echo number_format($revMnth, 2, ',','.')." €";
				?>
			</div>
		</td>
		<!-- Abgerechnet seit (Jahres-)Beginn (EUR) -->
		 <td class="status-borders status-align-right status-solid-right">
			<div class="status-fixed-narrow">
				<?php 
				$revYear = $timeAndMaterial[$month]['revenue_year'];
				$sumsInf[7][$month] += $revYear;
				echo number_format($revYear, 2, ',','.')." €";
				?>
			</div>
		</td>
		<?php endforeach; ?>
	</tr>
	<?php endif; ?>
	
	<?php if(isset($node["sectionData"][BookingType::MAINTENANCE])):  
		$maintenance =  $node["sectionData"][BookingType::MAINTENANCE]; ?>
	<tr>
		<td class="status-borders status-comment" title ="<?php echo $nodeName.' ('.$nodeShortcut.')'.($sapKey?(' --- '.$sapKey):''); ?>">
			<div class="status-fixed-broad status-padding">
				<?php echo $nodeName; ?>
			</div>
		</td>
		<td class="status-borders status-bold status-comment" title="<?php echo sprintf($this->translate('maintenanceComment'),$maintenancePart); ?>">
			<div class="status-fixed-medium status-padding">
				<?php echo strtoupper($informationArray['MC']); ?>
			</div>
		</td>
		<td class="status-borders status-align-center">
			<div class="status-fixed-narrowest"><?php echo $company; ?></div>
		</td>
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php echo number_format($hourlyRate, 2, ',', '.') . " €"; ?>
			</div>
		</td>
		<?php foreach ($months as $month): ?>
		<!-- Ist-Aufwand im Zeitraum (Std) -->
		<td class="status-borders status-align-right status-solid-left">
			<div class="status-fixed-narrower">
				<?php
				$btMonth = $maintenance[$month]['hours_bt_month'];
				$sumsInf[0][$month] += $btMonth;	
				echo number_format($btMonth, 2, ',', '.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$revHrsMnth = (($maintenance[$month]['revenue_month']+$maintenance[$month]['revenue_pax_month'])*$maintenancePart/100)/$hourlyRate;
				$sumsInf[1][$month] +=  $revHrsMnth;
				echo number_format($revHrsMnth, 2, ',', '.');
				?>
			</div>
		</td>
		<!-- Ist-Aufwand seit (Jahres-)Beginn (Std)  -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php 
				$hrsBtYear = $maintenance[$month]['hours_bt_year'];
				$sumsInf[2][$month] += $hrsBtYear;
				echo number_format($hrsBtYear, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet seit 1.1. (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$revHrsYear = (($maintenance[$month]['revenue_year']+$maintenance[$month]['revenue_pax_year'])*$maintenancePart/100)/$hourlyRate;
				$sumsInf[3][$month] += $revHrsYear;
				echo number_format($revHrsYear, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Rest-Aufwand (Std) -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abweichung -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower">
				<?php 
				$diff = $revHrsYear-$hrsBtYear;
				$sumsInf[5][$month] += $diff;
				echo number_format ($diff, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum (EUR) -->
		<?php
			$paxCommentMonth = "";
			if ($maintenance[$month]['revenue_pax_month'] != 0) {
				$paxCommentMonth = sprintf(
					$this->translate("paxRevenue").": %s €\n".$this->translate("otherRevenue").": %s €",
					number_format($maintenance[$month]['revenue_pax_month'], 2, ',', '.'),
					number_format($maintenance[$month]['revenue_month'], 2, ',', '.')
				);
			}
		?>
		<td class="status-borders status-align-right <?php echo $paxCommentMonth ? 'status-comment' : ''; ?>" title="<?php echo $paxCommentMonth; ?>">
			<div class="status-fixed-narrower">
				<?php 
				$revMnth = $maintenance[$month]['revenue_month'] + $maintenance[$month]['revenue_pax_month'];
				$sumsInf[6][$month] += $revMnth;
				echo number_format($revMnth, 2, ',','.')." €";
				?>
			</div>
		</td>
		<!-- Abgerechnet seit (Jahres-)Beginn (EUR) -->
		<?php
			$paxCommentYear = "";
			if ($maintenance[$month]['revenue_pax_year'] != 0) {
				$paxCommentYear = sprintf(
					$this->translate("paxRevenue").": %s €\n".$this->translate("otherRevenue").": %s €",
					number_format($maintenance[$month]['revenue_pax_year'], 2, ',', '.'),
					number_format($maintenance[$month]['revenue_year'], 2, ',', '.')
				);
			}
		?>
		<td class="status-borders status-align-right status-solid-right <?php echo $paxCommentYear ? 'status-comment' : ''; ?>" title="<?php echo $paxCommentYear; ?>">
			<div class="status-fixed-narrow">
				<?php 
				$revYear = $maintenance[$month]['revenue_year'] + $maintenance[$month]['revenue_pax_year'];
				$sumsInf[7][$month] += $revYear;
				echo number_format($revYear, 2, ',','.')." €";
				?>
			</div>
		</td>
		<?php endforeach; ?>
	</tr>
	<?php endif; ?>
	
	<?php if(isset($node["sectionData"][BookingType::NOT_ACCOUNTABLE])): 
		$notaccountable =  $node["sectionData"][BookingType::NOT_ACCOUNTABLE]; ?>
	<tr>
		<td class="status-borders status-comment" title ="<?php echo $nodeName.' ('.$nodeShortcut.')'.($sapKey?(' --- '.$sapKey):''); ?>">
			<div class="status-fixed-broad status-padding">
				<?php echo $nodeName; ?>
			</div>
		</td>
		<td class="status-borders status-bold">
			<div class="status-fixed-medium status-padding">
				<?php echo strtoupper($informationArray['NA']); ?>
			</div>
		</td>
		<td class="status-borders status-align-center">
			<div class="status-fixed-narrowest"><?php echo $company; ?></div>
		</td>
		<td class="status-borders">
			<div class="status-fixed-narrow"></div>
		</td>
		<?php foreach ($months as $month): ?>
		<!-- Ist-Aufwand im Zeitraum -->
		<td class="status-borders status-align-right status-solid-left">
			<div class="status-fixed-narrower">
				<?php 
				$btMonth = $notaccountable[$month]['hours_bt_month'];
				$sumsInf[0][$month] += $btMonth;	
				echo number_format($btMonth, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet im Zeitraum -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Ist-Aufwand seit (Jahres-)Beginn  -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php 
				$hrsBtYear = $notaccountable[$month]['hours_bt_year'];
				$sumsInf[2][$month] += $hrsBtYear;
				echo number_format($hrsBtYear, 2, ',','.');
				?>
			</div>
		</td>
		<!-- Abgerechnet seit 1.1. -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Rest-Aufwand -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abweichung -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abgerechnet im Zeitraum -->
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrower"></div>
		</td>
		<!-- Abgerechnet seit (Jahres-)Beginn -->
		<td class="status-borders status-align-right status-solid-right">
			<div class="status-fixed-narrow"></div>
		</td>
		<?php endforeach; ?>
	</tr>
	<?php endif; ?>
	
	<!-- indented nodes -->
	<?php
	if (!empty($node["projectData"])):
		$this->indentedNodes = $node["projectData"];
		echo $this->render("report/status-indentednodes.phtml");
		if (count($usedInformationArray) == 1):
			echo $this->render("report/status-hrule.phtml");	
		endif;
	endif;
endforeach;

if (!empty($orphanNodes)):
	$this->indentedNodes = $orphanNodes;
	echo $this->render("report/status-indentednodes.phtml");
endif;
?>

<?php
$appendSumProject = empty($data['REPORT_INFO']['NODES']['project']) && isset($usedInformationArray['FP']) && sizeof($usedInformationArray) == 1 && !(empty($dataNodes));
$appendSumInf = empty($data['REPORT_INFO']['NODES']['project']) && !isset($usedInformationArray['FP']) && !(empty($dataNodes));
?>
<tr>
	<td><div class="status-fixed-broad">&nbsp;</div></td>
	<td><div class="status-fixed-medium">&nbsp;</div></td>
	<td><div class="status-fixed-narrowest">&nbsp;</div></td>
	<td class="status-bold status-align-right">
		<div class="status-fixed-narrow ">
			<?php echo $appendSumProject||$appendSumInf?'Summen:':''; ?>
		</div>
	</td>
	<?php foreach ($months as $month): ?>
	<td class="status-solid-top status-align-right">
		<div class="status-fixed-narrower ">
		<?php
			if($appendSumProject){
				echo number_format($sumsProjects[0][$month],2,',','.');
			}else if($appendSumInf){
				echo number_format($sumsInf[0][$month],2,',','.');
			}else{
				echo '';
			}
		?>
		</div>
	</td>
	<td class="status-solid-top status-align-right">
		<div class="status-fixed-narrower">
		<?php
			if($appendSumProject){
				echo number_format($sumsProjects[1][$month],2,',','.');
			}else if($appendSumInf){
				echo number_format($sumsInf[1][$month],2,',','.');
			}else{
				echo '';
			}
		?>
		</div>
	</td>
	<td class="status-solid-top status-align-right">
		<div class="status-fixed-narrow">
		<?php
			if($appendSumProject){
				echo number_format($sumsProjects[2][$month],2,',','.');
			}else if($appendSumInf){
				echo number_format($sumsInf[2][$month],2,',','.');
			}else{
				echo '';
			}
		?>
		</div>
	</td>
	<td class="status-solid-top status-align-right">
		<div class="status-fixed-narrower">
		<?php
			if($appendSumProject){
				echo number_format($sumsProjects[3][$month],2,',','.');
			}else if($appendSumInf){
				echo number_format($sumsInf[3][$month],2,',','.');
			}else{
				echo '';
			}
		?>
		</div>
	</td>
	<td class="status-solid-top status-align-right">
		<div class="status-fixed-narrower">
		<?php
			if($appendSumProject){
				echo $sumsProjects[4][$month]?number_format($sumsProjects[4][$month],2,',','.'):'';
			}else if($appendSumInf){
				echo $sumsInf[4][$month]?number_format($sumsInf[4][$month],2,',','.'):'';
			}else{
				echo '';
			}
		?>
		</div>
	</td>
	<td class="status-solid-top status-align-right">
		<div class="status-fixed-narrower">	
			<?php
			if ($appendSumProject) {
				echo number_format($sumsProjects[5][$month],2,',','.');
			} else if($appendSumInf) {
				echo number_format($sumsInf[5][$month],2,',','.');
			} else {
				echo '';
			}
			?>
		</div>
	</td>
	<td class="status-fixed-narrower status-solid-top status-align-right">
		<div class="status-fixed-narrower">	
			<?php
			if ($appendSumProject) {
				echo number_format($sumsProjects[6][$month],2,',','.')." €";
			} else if ($appendSumInf) {
				echo number_format($sumsInf[6][$month],2,',','.')." €";
			} else {
				echo '';
			}
			?>
		</div>
	</td>
	<td class="status-fixed-narrow status-solid-top status-align-right">
		<div class="status-fixed-narrow">	
			<?php
			if ($appendSumProject) {
				echo number_format($sumsProjects[7][$month],2,',','.')." €";
			} else if ($appendSumInf) {
				echo number_format($sumsInf[7][$month],2,',','.')." €";
			} else {
				echo '';
			}
			?>
		</div>
	</td>
	<?php endforeach; ?>
</tr>
</tbody>
</table>