<tr>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-broad"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-medium"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrowest"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrow"></div></td>

	<?php foreach ($this->data["MONTHS"] as $month) : ?> 
	<td class="status-lightcell status-solid-left status-borders"><div class="status-lowercell status-fixed-narrower"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrower"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrow"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrower"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrowest"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrower"></div></td>
	<td class="status-lightcell status-borders"><div class="status-lowercell status-fixed-narrower"></div></td>
	<td class="status-lightcell status-solid-right status-borders"><div class="status-lowercell status-fixed-narrow"></div></td>
	<?php endforeach; ?>		
</tr>