<?php
$informationArray = $this->data["INFORMATION"];
$months = $this->data["MONTHS"];

foreach ($this->indentedNodes as $project):
	if ($project['level'] == 1):
		echo $this->render("report/status-hrule.phtml");
	endif;
	?>
	<tr>
		<?php
		$bookingTypeHoursMonth = 0;
		$bookingTypeHoursYear = 0;
		$bookingTypeName = "FP";
		$bookingType = strtoupper($informationArray["FP"]);
		
		$bookingArray = reset($project['months']);
		
		foreach ($bookingArray['hours_bt_year'] as $btName => $btHours) {
			if($btHours > $bookingTypeHoursYear){
				$bookingTypeHoursYear = $btHours;
				$bookingTypeName = $btName;
			}
		}
		
		switch ($bookingTypeName) {
			case "CR":
			$bookingType = strtoupper($informationArray["CR"]);			    	
				break;
			case "NA":
		   $bookingType = strtoupper($informationArray["NA"]);
				break;
			case "TM":
			$bookingType = strtoupper($informationArray["TM"]);
				break;
			case "MC":
			$bookingType =  strtoupper($informationArray["MC"]);
				break;
		}
		
		if ($project['level'] == 1): ?>
		<td class="status-borders status-italic">
			<div class="status-fixed-broad status-shallow-indent status-padding">
				<?php echo $project['node_name']; ?>
			</div>
		</td>
		<?php else: ?><!-- Node is child -->
		<td class="status-borders status-italic">
			<div class="status-fixed-broad status-deep-indent status-padding">
				<?php echo $project['node_name']; ?>
			</div>
		</td>
		<?php endif; ?>
		
		<td class="status-borders status-bold">
			<div class="status-fixed-medium status-padding"><?php echo  $bookingType; ?></div>
		</td>
		<td class="status-borders status-align-center">
			<div class="status-fixed-narrowest"><?php echo  $project['company']; ?></div>
		</td>
		<td class="status-borders status-align-right">
			<div class="status-fixed-narrow">
				<?php $targetEffort = $project['target_effort'];
				echo $targetEffort?number_format($targetEffort,2,',','.'):''; ?>
			</div>
		</td>
		
		<?php
		foreach ($months as $month):
			$expenseComment = "";
			
			$bookingTypeHoursMonth = $project['months'][$month]['hours_bt_month'][$bookingTypeName];
			if ($bookingTypeName == "FP") {
				$bookingTypeHoursYear = $project['months'][$month]['hours_bt_begin'][$bookingTypeName];
			} else {
				$bookingTypeHoursYear = $project['months'][$month]['hours_bt_year'][$bookingTypeName];
			}
			
			if ($bookingTypeHoursMonth != array_sum($project['months'][$month]['hours_bt_month'])) {
				foreach($project['months'][$month]['hours_bt_month'] as $key => $val){
					if($val){
						$expenseComment .= $informationArray[$key] ." (". $key ."): ". number_format($val, 2, ',','.') ."\n";
					}
				}
			}
			if (array_sum($project['months'][$month]['hours_bt_trainee_month']) > 0) {
				if (!empty($expenseComment)) {
					$expenseComment .= "\n";
				}
				$expenseComment .= $this->translate("traineeHours").":\n";
				foreach ($project['months'][$month]['hours_bt_trainee_month'] as $key => $val) {
					if($val){
						$expenseComment .= $informationArray[$key] ." (". $key ."): ". number_format($val, 2, ',','.') ."\n";
					}
				}
			}
			
			$expenseCommentYear = "";
			
			if ($bookingTypeName == "FP") {
				if($bookingTypeHoursYear != array_sum($project['months'][$month]['hours_bt_begin'])){
					foreach($project['months'][$month]['hours_bt_begin'] as $key => $val){
						if($val){
							$expenseCommentYear.= $informationArray[$key] ." (". $key ."): ". number_format($val, 2, ',','.') ."\n";
						}
					}
				}
				if (array_sum($project['months'][$month]['hours_bt_trainee_begin']) > 0) {
					if (!empty($expenseCommentYear)) {
						$expenseCommentYear .= "\n";
					}
					$expenseCommentYear .= $this->translate("traineeHours").":\n";
					foreach ($project['months'][$month]['hours_bt_trainee_begin'] as $key => $val) {
						if($val){
							$expenseCommentYear .= $informationArray[$key] ." (". $key ."): ". number_format($val, 2, ',','.') ."\n";
						}
					}
				}
			} else {
				if ($bookingTypeHoursYear != array_sum($project['months'][$month]['hours_bt_year'])) {
					foreach ($project['months'][$month]['hours_bt_year'] as $key => $val) {
						if($val){
							$expenseCommentYear .= $informationArray[$key] ." (". $key ."): ". number_format($val, 2, ',','.') ."\n";
						}
					}
				}
				if (array_sum($project['months'][$month]['hours_bt_trainee_begin']) > 0) {
					if (!empty($expenseCommentYear)) {
						$expenseCommentYear .= "\n";
					}
					$expenseCommentYear.=$this->translate("traineeHours").":\n";
					foreach ($project['months'][$month]['hours_bt_trainee_begin'] as $key=>$val) {
						if($val){
							$expenseCommentYear .= $informationArray[$key] ." (". $key ."): ". number_format($val, 2, ',','.') ."\n";
						}
					}
				}
			}
			?> 
			<!-- Ist-Aufwand im Zeitraum -->
			<td class="status-borders status-align-right status-solid-left <?php if ($expenseComment): ?>status-comment<?php endif; ?>" title="<?= $expenseComment; ?>">
				<div class="status-fixed-narrower">
					<?php echo number_format($bookingTypeHoursMonth, 2,',','.'); ?>
				</div>
			</td>
			<!-- Abgerechnet im Zeitraum -->
			<td class="status-borders status-align-right">
				<div class="status-fixed-narrower"></div>
			</td>
			<!-- Ist-Aufwand seit (Jahres-)Beginn  -->
			<td class="status-borders status-align-right <?php if ($expenseCommentYear): ?>status-comment<?php endif; ?>" title="<?= $expenseCommentYear; ?>">
				<div class="status-fixed-narrow">
					<?php echo number_format($bookingTypeHoursYear,2,',','.'); ?>
				</div>
			</td>
			<!-- Abgerechnet seit 1.1. -->
			<td class="status-borders status-align-right">
				<div class="status-fixed-narrower"></div>
			</td>
			<!-- Rest-Aufwand -->
			<?php $remainingEffortComment = $project['months'][$month]['remaining_effort_comment']; 
				  $remainingEffort = $project['months'][$month]['remaining_effort'];
			?>
			<td class="status-borders status-align-right <?php if ($remainingEffortComment !== null): ?>status-comment<?php endif; ?>" title="<?= $remainingEffortComment; ?>">
				<div class="status-fixed-narrower">
					<?php
					if ($remainingEffort !== null):
						echo number_format($remainingEffort, 2, ',', '.');
					endif;
					?>
				</div>
			</td>
			<!-- Abweichung -->
			<td class="status-borders status-align-right">
				<div class="status-fixed-narrower">
					<?php
					if ($remainingEffort !== null && $targetEffort):
						echo round((($bookingTypeHoursYear+$remainingEffort-$targetEffort)/$targetEffort)*100) . " %";
					endif;
					?>
				</div>
			</td>
			<!-- Abgerechnet im Zeitraum -->
			<td class="status-borders status-align-right">
				<div class="status-fixed-narrower"></div>
			</td>
			<!-- Abgerechnet seit (Jahres-)Beginn -->
			<td class="status-borders status-align-right status-solid-right">
				<div class="status-fixed-narrow"></div>
			</td>
		<?php endforeach; ?>
	</tr>
<?php endforeach; ?>